@media (min-width: 768px) {
  .main__imgTitle img {
    width: 55.5rem;
    height: 23.6rem;
  }
  .main__characters {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1024px) {
  .main__characters {
    grid-template-columns: repeat(12, 1fr);
  }
  /* character */
  .container__character {
    grid-column: span 3;
  }
}
